extends layout
block navigation
    include partials/dashboardNavigation

block content
    h3 #{title} #{user}
    if (isLoggedIn == true)
        p Hello World, I am logged in!
    else 
        p Goodbye World, I am logging out. 
