extends layout

block content
    .container
      h1= title
      p Welcome to #{title}
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nostrum voluptas sit perspiciatis nam, velit. Minus nulla non voluptatibus, iste dolores quaerat, atque error ipsum, repellendus necessitatibus facere maiores vitae.