block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button(type="button", data-toggle="collapse" data-target="#navbar-collapse" , aria-expanded="false").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="/").navbar-brand Tregas

            .collapse.navbar-collapse#navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/student/dashboard")
                            i.material-icons &#xE851;
                            | Dashboard
                    li
                        a#logOutButton(href="/logout")
                            i.material-icons &#xE879
                            | Log out