block navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a(href="/")
                    img(id="logo" src="images/logoBlue.svg" alt="some_text")
                button(type="button", data-toggle="collapse" data-target="#navbar-collapse" , aria-expanded="false").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="/").navbar-brand Foribus
            .collapse.navbar-collapse#navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/register")
                            i.material-icons &#xE851
                            | Register