extends layout

block content
    h2 Hello #{user}

    p What would you like to do?

    .row
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Register new student assistant
                    p Here you can register a new student assistant

                    p: a(href="/admin/createNewAssistant").btn.btn-primary Create new assistant 
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Register a new seminar group
                    p Here you can register a new seminar group

                    p: a(href="/common/createNewSeminarGroup").btn.btn-primary Create new seminar group
    .row 
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Add an assistant to a course
                    p Here you can register an assistant with a specific course

                    p: a(href="/admin/addAssistantToCourse").btn.btn-primary Add Assistant to Course

        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Remove an assistant from a course
                    p Here you can remove assistants from courses

                    p: a(href="/admin/removeAssistantFromCourse").btn.btn-primary Remove assistant from course