extends layout
block navigation
    include ./partials/assistantDashboardNavigation

block content
    h3 #{title}: #{user.fName} #{user.lName}

    .row
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Ta fraværet
                    p  Trykk på linken under for å ta fraværet til studentene

                    p: a(href="/assistant/registerAttendance").btn.btn-primary Registrer fravær 
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Sjekk fraværet for studenter
                    p Kanskje vi kan ha en liste over hvilke fag du er seminarleder for 

                    p: a(href="/").btn.btn-primary denne funker ikke enda 
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Registrer en ny student i seminar gruppen
                    p her kommer det også ting