extends layout
block navigation
    include ./partials/assistantDashboardNavigation

block content
    h3 #{title}: #{user.fName} #{user.lName}
    include ./partials/dashboardNavElements

    .row
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Take Attendance
                    p  Press the button to take attendance for a group of your choice

                    p: a(href="/assistant/registerAttendance").btn.btn-primary Select course and group
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Check the absence of students
                    p Kanskje vi kan ha en liste over hvilke fag du er seminarleder for 

                    p: a(href="/").btn.btn-primary denne funker ikke enda 
        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Register a new student in a seminar group
                    p her kommer det også ting

        .col-xs-12.col-sm-6.col-md.4
            .thumbnail
                .caption
                    h3 Create a new seminar group
                    p Is there a seminar group missing? Create a new one now!

                    P: a(href="/common/createNewSeminarGroup").btn.btn-primary Create new seminar group