extends layout

block content
    h3 Create a new seminar group
    include ./partials/dashboardNavElements

    .row
        .col-xs-12.col-sm-12.col-md-8.col-lg-6
            legend#status
                ul
            form(action="/createNewSeminarGroup", method="POST")
                .form-group
                    label(for="courseID") Course ID
                    input#courseID(type="text" name="courseID" placeholder="Course ID, eg. INFO132" required).form-control
                .form-group
                    label(for="name") Group name
                    input#groupName(type="text" name="name" placeholder="Group name, eg. INFO132 - Gruppe 1" required).form-control
                .form-group
                    button.btn.btn-primary#createSeminarBtn Save seminar group


        .col-xs-12.col-sm-12.col-md-4.col-lg-6
            p These groups already exsists
            ul
                for seminar in seminarGroups
                    li: b #{seminar.name}