extends layout

block content
    h3 Register a new student assistant

    .row
        .col-xs-12.col-sm-12.col-md-8.col-lg-6
            legend#status 
            p Here you can register a student as a student assistant. Write the student ID and if the student exists in the database, the input turns green. If it does not exists, then you must either #[a(href="/admin/createNewUser") create the user here] or tell the student to create the new #[a(href="/register") user himself here].
            p You can connect the student assistant to a course right away, or do it later at the #[a(href="/admin/addAssistantToCourse") page for adding an assistant to courses].
            form(action="/admin/createNewAssistant", method="POST")
                .form-group
                    label(for="studentID") Student ID or name
                    input#studentID(type="text" name="studentID" placeholder="Student ID or name" required).form-control
                .form-group.hide
                    label(for="firstName") First name
                    input#firstName(type="text" name="firstName" placeholder="First name").form-control
                .form-group.hide
                    label(for="lastName") Last name
                    input#lastName(type="text" name="lastName" placeholder="Last name").form-control
                .form-group.hide
                    label(for="email") Student email
                    input#email(type="email" name="email" placeholder="Student email" required).form-control
                .form-group
                    button.btn.btn-primary#createSeminarAssBtn Register assistant


        .col-xs-12.col-sm-12.col-md-4.col-lg-6
            p We should add search functionality for student assistants here
            