extends layout
block navigation
	include partials/registerNavigation

block content
	h3= title
    h4 Hey
	form(action="/login" method="POST")
		legend
		.form-group
			label(for="email") Email
			input.form-control(type="email" id="email" name="email" placeholder="Email")
		.form-group
			label(for="password") Password
			input.form-control(type="password" id="password" name="password" placeholder="Password")
		.form-group
			a(href="/register") No user? <br> Register here
			button.btn.btn-primary.pull-right#loginButton Log In