extends layout
block navigation
    include partials/navigation

block content
    h3 #{title}
    include ./partials/dashboardNavElements

    p Select the course you want to register attendance for
    include ./partials/assistantCourses