extends layout
block navigation
    include partials/navigation

block content
    h3 #{title}
    include ./partials/dashboardNavElements

    p Select the course you want to register attendance for
    section.row
        .col-xs-12
            form(action="/assistant/getSeminarGroupsFromCourse" method="GET")
                .form-group
                    select#courseSelection.form-control
                        for course in courses
                            option(value="#{course.courseID}") #{course.courseID} - #{course.name}

    section.seminars.row