extends layout

block content
    h3 #{title}
    
    p Here is an overview over your attendance for #{seminar[0].name}

    table.table.table-hover
        thead
            tr
                th Date
                th Attended
        tbody
            for sem in seminar
                tr
                    td #{sem.date}
                    if sem.attended == 1
                        td Yes
                    else 
                        td No



