@import "02_basics/variables"
@import "02_basics/typography"

@import "03_modules/header"
@import "03_modules/footer"

html
    padding: 0
    margin: 0
    position: relative
    min-height: 100%

body
    font-family: $font-stack
    color: $header
    background: $background

.container
    margin-bottom: 16%

#courseTable thead
    display: table
    table-layout: fixed
    width: 100%

#courseTable tbody
    display: block
    overflow-y: scroll
    height: 180px

#courseTable tbody tr
    display: table
    table-layout: fixed
    width: 100%

    &:hover
        cursor: pointer
        background: lightblue

#courseTable tbody tr th, td
    width: auto

.frontPageBtn 
    margin-right: 5%

.checkButtons
    a
        margin-right: 5px